<!-- About Section -->
<section id="education" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Образование</h2>
        <hr class="star-primary">
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="https://ursmu.ru/" target="_blank">
          <img src="img/110-herb.svg" 
               alt="Герб УГГУ" 
               style="height: 80px; vertical-align: middle; margin-bottom: 10px;">
        </a>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          <a href="https://ursmu.ru/" target="_blank">Уральский Государственный Горный Университет</a>, 
          <br>Екатеринбург.
        </p>
      </div>
      
      <div class="col-lg-4">
        <p>Горно-механический факультет, <strong>Автоматизация техпроцессов и производств.</strong></p>
      </div>
      

    </div>
  </div>
</section>
