<!-- Contact Section -->
<section id="experience" >
  <div class="container" >
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Опыт работы</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12  text-center">

       
        
        <div id="experience-timeline">
            <div data-vtdate="Январь 2015 –" data-vtside="right" style="text-align: left;">
                <h3><a href="https://www.pavlik-gold.ru/"> ОАО "Золоторудная компания «ПАВЛИК»"</a></h3>
                <h4>Ведущий Инженер АСУ ТП</h4>
                <h5>Обязанности:</h5>
                <ul style="text-align: left; font-size: 20px;">
                  <li>разработка и обслуживание нижнего, среднего, верхнего уровней АСУ ТП (Siemens, Allen Bradley, ОВЕН);</li>
                  <li>проведение ПНР, монтаж, шефмонтаж;</li>
                  <li>настройка КИП, частотного привода;</li>
                  <li>сети ethernet, profinet, profibus, modbus;</li>
                  <li>технологическое видеонаблюдение;</li>
                  <li>написание документации.</li>
                </ul>
                <p></p>
                <h5>Достижения:</h5>
                <ul style="text-align: left; font-size: 20px;">
                  <li>разработал и запустил АСУТП ЗИФ2.</li>

                </ul>
                <p>                     
                </p>
              
            </div>
            
              <div data-vtdate="Январь 2003 – Декабрь 2014" data-vtside="right" style="text-align: left;">
                    <h3><a href="https://technolink.spb.ru">УФ ЗАО "ТЕХНОЛИНК"</a></h3>
                  <h4>Ведущий Инженер АСУ ТП</h4>
                  <h5>Обязанности:</h5>
                  <ul style="text-align: left; font-size: 20px;">
                        
                      <li>предпроектное обследование объектов;</li>
                      <li>проектирование систем АСУ;</li>
                      <li>разработка документации;</li>
                      <li>разработка ПО нижнего, среднего, верхнего уровней (GE IP, Siemens, Allen Bradley, Mitsubishi и др.);</li>
                      <li>проведение ПНР, шефмонтаж;</li>
                      <li>настройка КИП, частотного привода;</li>
                      <li>проведение семинаров, обучающих курсов.</li>
                    
                  </ul>
                  <p></p>
                  <h5>Достижения:</h5>
                  <p>
                    <ul style="text-align: left; font-size: 20px;">
                      <li>АСУТП ЗИФ ГОК на месторождении "Белая Гора" (ООО "Руссдрагмет", ООО "Белая Гора");</li>
                      <li>АСУТП ЗИФ Кубака, (ОАО "Омолонская золоторудная компания" (Полиметалл УК));</li>
                      <li>АСУТП ЗИФ "Дарасунский рудник" (ООО "Руссдрагмет" ООО "Дарасунский рудник");</li>
                      <li>множество агрегатных АСУ.</li>
                    </ul>   
                  </p>
                
              </div>
              

              <div data-vtdate="Январь 2003 – Сентябрь 2003" data-vtside="right" style="text-align: left;">
                <h3><a href="http://www.uralautomatica.ru">ЗАО «Уралавтоматика инжиниринг»</a></h3>
              <h4>Инженер АСУ ТП</h4>
              <h5>Обязанности:</h5>
              <ul style="text-align: left; font-size: 20px;">
                    
                  <li>разработка ПО и документации для АСУ ТП.</li>
                
              </ul>
              <p></p>
              <h5>Достижения:</h5>
              <p>
                <ul style="text-align: left; font-size: 20px;">
                  <li>разработал ПО для прибора измерения гранулометрического состава руды.</li>

                </ul>   
              </p>
            
            </div>

            <div data-vtdate="Февраль 2000 – Январь 2003" data-vtside="right" style="text-align: left;">
            <h3><a>ООО "Ревдинский завод светотехнических изделий"</a></h3>
            <h4>Системный администратор</h4>
            <h5>Обязанности:</h5>
            <ul style="text-align: left; font-size: 20px;">
                  
              <li>управление сетевой инфраструктурой компании;</li>
              <li>обеспечение безопасности данных;</li>
              <li>поддержка пользователей и решение технических проблем;</li>
              <li>администрирование серверов и рабочих станций.</li>
            </ul>
            <p></p>
           
            </p>
          
        </div>


        </div><!-- experience-timeline  -->
        




      </div>
    </div>
  </div>

</section>
