<!-- About Section -->
<section class="success" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Навыки</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">

        <ul>
          <li>SIEMENS</li>
          <li>TIA Portal</li>
          <li>WINCC</li>
          <li>STEP7</li>

          <li>Alen-Bredley</li>
          <li>RSLogix5000</li>
          <li>FactoryTalk</li>
          <li>METSO</li>
          <li>PCVue</li>
          <li>ОВЕН</li>
          <li>Codesys</li>
          <li>Weintek</li>
          <li>FLS</li>
          <li>ECS</li>
          <li>ACESYS</li>
          <li>GE Fanuc</li>
          <li>Proficy Machine Edition</li>
          <li>Proficy Cimplicity</li>
          <li>Mitsubishi FX</li>
          <li>МЭК 61131</li>
          <li>LD</li>
          <li>FBD</li>
          <li>IL</li>
          <li>STL</li>
          <li>ST</li>
          <li>Ethernet</li>	
          <li>TCP/IP</li>	
          <li>Profinet</li>		
          <li>Profibus</li>	
          <li>ModBus</li>
          <li>RS485</li>
          <li>MS Visual Basic (VBS, VBA)</li>
          <li>Python</li>
          <li>MS SQL</li>
          <li>InfluxDB</li>
          <li>Grafana</li>
          <li>ZABBIX</li>
          <li>Windows</li>
          <li>Linux</li>
          <li>ABB ACS</li>
          <li>Schneider Altivar ATV</li>
          <li>INVT GODRIVE</li>
          <li>SIMOCODE</li>
          <li>Autocad</li>
          <li>Eplan</li>
          <li>SPlan</li>



        </ul>
      </div>


    </div>
  </div>
</section>